<!doctype html>
<html>

<head>
    <title>RMS</title>

    <base href="/">

    <meta charset="utf-8">

    <link href="dist/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="rms" class="md-body-1" layout="row" ng-controller="NavController as nav" ng-mousedown="nav.somethingHappened()" ng-keydown="nav.somethingHappened()">

<style>
    .primary-background {
        background-color: {{primaryColor}};
    }

    .primary-color {
        color: {{primaryColor}};
    }

    .accent-background {
        background-color: {{accentColor}};
    }

    .accent-color {
        color: {{accentColor}};
    }
</style>

<md-sidenav
        layout="column"
        class="sidenav md-sidenav-left md-locked-open md-whiteframe-z3 primary-background"
        md-is-locked-open="$mdMedia('gt-md') && nav.isLoggedIn()">
    <header>
        R M S
    </header>
    <md-content flex>
        <ul>
            <li>
                <md-button class="nav-link-side" ng-class="{'md-accent': nav.isInState('home')}" ui-sref="home">Home
                </md-button>
            </li>
            <li>
                <md-button class="nav-link-side" ng-class="{'md-accent': nav.isInState('deviceReservation')}" ui-sref="deviceReservationList">
                    Reservierungen
                </md-button>
            </li>
            <li>
                <md-button class="nav-link-side" ng-class="{'md-accent': nav.isInState('room')}" ui-sref="room">
                    Raumbuchung
                </md-button>
            </li>
            <li>
                <md-button class="nav-link-side" ng-class="{'md-accent': nav.isInState('management')}"
                           ui-sref="management.users.list">Verwaltung
                </md-button>
            </li>
            <li>
                <md-button class="nav-link-side" ng-class="{'md-accent': nav.isInState('tickets')}" ui-sref="tickets.roomReservation">
                    Tickets
                </md-button>
            </li>
            <li>
                <md-button class="nav-link-side" ng-class="{'md-accent': nav.isInState('profile')}" ui-sref="profile">
                    Profil
                </md-button>
            </li>
        </ul>
    </md-content>
    <md-button class="nav-link-side" ng-click="nav.supportTicket()">Problem melden</md-button>
    <md-button class="nav-link-side" ng-click="nav.logout()">Logout</md-button>
</md-sidenav>

<md-content ui-view role="main" flex layout="column"></md-content>


<!-- inject:js -->
<!-- endinject -->

</body>

</html>
