.sidenav.md-locked-open {
    min-width: 250px;
    width: 250px;
    max-width: 250px;

    height: 100%;
    color: white;
}

.sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidenav li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-link-side {
    padding: 9px;
    padding-left: 15px;
    width: 100%;
    margin: 0;
    text-align: left;
}

.nav-link-top {
    height: 100%;
    margin: 0;
    padding: 12px;
}

.sidenav header {
    display: block;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: TechnoLogo;
    text-align: center;
    font-weight: 600;
    font-size: 3.5em;

    /* border-bottom: 1px solid white; */
}

.sidenav md-content {
    background-color: inherit;
    color: inherit;
}

.main-content {
    padding: 45px;
    padding-bottom: 0;
}

@font-face {
    font-family: TechnoLogo;
    src: url("../technologo.otf") format("opentype");
}

table {
    border-collapse: collapse;
}

table tr:not(:last-child) td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table tr td:not(:last-child) {
    padding-right: 36px;
}

table tr td:not(:first-child) {
    padding-left: 36px;
}

table tr td {
    padding: 16px 0px;
}


table tr:not(:last-child) th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table tr th:not(:last-child) {
    padding-right: 36px;
}

table tr th:not(:first-child) {
    padding-left: 36px;
}

table tr th {
    padding: 16px 0px;
}

.full-width-button {
    width: 100%;
    margin: 0;
}

.card-container > div {
    margin: 20px;
    min-width: 400px;
    background-color: white;
}

.card-content {
    padding: 13px;
}

.big-content {
    font-size: 1.8em;
}

div.time-panel:first-child {
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.card-container {
    /*background-color: rgba(0,0,0,.12)*/
}

[ui-view] {
    transition: opacity .4s linear;
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    display: none;
}

md-menu-content {
    padding: 0;
}

.management-list tr.ng-enter {
    animation: slideInRight .8s;
}

.management-list tr.ng-leave {
    animation: slideOutRight .8s;
}

table.management-list tr+tr.ng-enter td {
    border-bottom-color: rgba(0, 0, 0, 0);
}

table.management-list tr+tr.ng-enter.ng-enter-active td {
    border-bottom-color: rgba(0, 0, 0, 0.12);
}


th {
    font-weight: bold;
    text-align: left;
}