.sidenav.md-locked-open {
  min-width: 250px;
  width: 250px;
  max-width: 250px;

  height: 100%;
  color: white;
}

.sidenav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenav li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-link-side {
  padding: 9px;
  padding-left: 15px;
  width: 100%;
  margin: 0;
  text-align: left;
}

.nav-link-top {
  height: 100%;
  margin: 0;
  padding: 12px;
}

.sidenav header {
  display: block;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: TechnoLogo;
  text-align: center;
  font-weight: 600;
  font-size: 3.5em;

  /* border-bottom: 1px solid white; */
}

.sidenav md-content {
  background-color: inherit;
  color: inherit;
}

.main-content {
  padding: 45px;
  padding-bottom: 0;
}

form {
  width: 330px;
}

@font-face {
  font-family: TechnoLogo;
  src: url("technologo.otf") format("opentype");
}
