<div>
  <h2 class="md-display-1" style="color: {{primaryColor}}; margin-top: 0;">Geräteverwaltung</h2>
  <table style="width: 100%;">
    <tr class="md-body-2">
      <td>Inventarnummer</td>
      <td>Name</td>
      <td>Art</td>
      <td>Schrank</td>
      <td>Beschaffungsdatum</td>
      <td>Aktionen</td>
    </tr>
    <tr ng-repeat="device in deviceList.getDevices() track by $index">
      <td>{{device.inventoryNumber}}</td>
      <td>{{device.name}}</td>
      <td>{{device.type}}</td>
      <td>{{device.storage}}</td>
      <td>{{device.acquired | date}}</td>
      <td>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon>more_horiz</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button>
                <md-icon>edit</md-icon>
                Bearbeiten
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button class="md-warn">
                <md-icon>delete</md-icon>
                Löschen
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
    </tr>
  </table>
</div>
