<div class="main-content card-container card-list">
    <div class="md-whiteframe-z2 ticket">
        <md-toolbar class="md-hue-1" ng-class="{'md-hue-2': roomReservation.reservation.open}">
            <div class="md-toolbar-tools">
                <h2>
                    Lehrveranstalltung für Whiteboards von Hans Müller
                </h2>
            </div>
        </md-toolbar>
        <div class="card-content" layout="row">
            <div class="big-content time-panel" layout="column" layout-align="center center" flex="50"
                 style="height: 50px;">
                von {{roomReservation.reservation.timeSpan.beginning | date:'EEE d. MMM HH:mm'}}
            </div>
            <div class="big-content time-panel" layout="column" layout-align="center center" flex="50"
                 style="height: 50px;">
                bis {{roomReservation.reservation.timeSpan.end | date:'EEE d. MMM H:mm'}}
            </div>
        </div>
        <div layout="row">
            <md-button flex="50" class="md-raised md-accent md-hue-1 half-width-button md-warn"
                       style="margin-bottom: 0;" ng-click="roomReservation.returnRoom()">
                Ablehnen
            </md-button>
            <md-button flex="50" class="md-raised md-accent md-hue-1 half-width-button"
                       style="margin-bottom: 0;" ng-click="roomReservation.openRoom()">
                Genemigen
            </md-button>
        </div>
    </div>
</div>
