<div ng-switch="userCreateController.getState()" layout="row">

    <div ng-switch-when="0" class="create-state">

        <h2 style="margin-top: 0" class="md-display-2">
            Rolle auswählen
        </h2>

        <form name="userCreateController.roleForm" layout="column" class="md-inline-form medium-form">
            <md-input-container>
                <label>Rolle</label>
                <md-select name="role" ng-model="userCreateController.user.role" required>
                    <md-option value="STUDENT">Student</md-option>
                    <md-option value="LECTURER">Dozent</md-option>
                    <md-option value="CSW_TEAM" ng-if-start="userCreateController.isAdmin()">CSW-Team</md-option>
                    <md-option value="ADMIN" ng-if-end>Admin</md-option>
                </md-select>
                <div ng-messages="userCreateController.roleForm.role.$error">
                    <div ng-message="required">
                        Bitte gib eine Rolle an
                    </div>
                </div>

            </md-input-container>
        </form>

        <div class="actions" layout="row">
            <md-button ng-disabled="!userCreateController.roleForm.$valid" class="md-accent md-raised" type="submit"
                       ng-click="userCreateController.advance()">
                weiter
            </md-button>
        </div>
    </div>
    <div ng-switch-when="1" class="create-state">

        <h2 style="margin-top: 0" class="md-display-2">
            Benutzerordnung
        </h2>


        <div class="text-scrolling">
            <p>Voraussetzung und Bedingung für den Zugang zur <b>C</b>omputer<b>S</b>tudi-en<b>W</b>erkstatt und zur Nutzung ihrer Ressourcen
            ist die Anerkennung und Einhaltung der Hausordnung der TU Darmstadt sowie der Allge-meinen Benutzerordnung
            für die Informationsverarbeitungs- und Kommunikations-Infrastruktur der TU Darmstadt (siehe Anhang).</p>

            Die Zugangsberechtigung umfasst:
            <ul style="list-style-type:square">
                <li>den Zutritt in die ComputerStudienWerkstatt durch das elekt-ronische Zugangssystem TUna,</li>
                <li>die Möglichkeit, ausleihbare Medien über den eigenen TUna-Account zu reservieren,</li>
                <li>die Möglichkeit, digitale Medien über das elektronische Verwal-tungssystem auszuleihen und innerhalb
                der CSW zu nutzen (Ausnahmen sind im System gekennzeichnet),</li>
                <li>die Nutzung der frei zugänglichen Ressourcen innerhalb der CSW sowie</li>
                <li>die Möglichkeit, als Lehrender Raumanfragen zur Reservie-rung der CSW außerhalb von 10-18 Uhr zu
                stellen.</li>
            </ul>

            <p>Die für die Accounterstellung benötigen personenbezogen Daten wer-den von uns vertraulich und nach den
            Anforderungen des Hessischen Datenschutzgesetzes (HDSG) behandelt. Die Speicherung der
            perso-nenbezogenen Daten dient ausschließlich der Verwaltung der CSW, ist lediglich dem Betreuungsteam
            der CSW zugänglich und wird nicht an Dritte weitergegeben.</p>

            <p>Als Nutzerinnen und Nutzer sind Sie aufgefordert, beim Umgang mit dem Inventar der
            ComputerStudienWerkstatt eine angemessene Sorg-falt walten zu lassen. Bei mutwilliger oder fahrlässiger
            Beschädigung von Mobiliar, Hard- oder Software wird die Verursacherin/der Verursa-cher in die
            Verantwortung genommen.</p>

            <p>Aus Sicherheitsgründen ist es zu vermeiden, die ComputerStudien-Werkstatt unverschlossen zu lassen. Das
            Zugangssystem dient der Sicherung des Bestandes, sein Umgehen ist nicht gestattet. Die Ein-gangstür ist
            eine Brandschutztür und darf daher nicht durch Gegen-stände (wie bspw. den Schirmständer) offengehalten
            werden. Falls Sie Dritten den Zugang zur ComputerStudienWerkstatt ermöglichen, sind Sie für die
            Raumnutzung der entsprechenden Person verantwortlich.</p>

            <p>Zur Sicherung des Buch- und Gerätebestandes der ComputerStudi-enWerkstatt ist Weitergabe des eigenen
            Accounts an Dritte untersagt. Ferner wird der Bereich der Medienausleihe und die Bücherwand der CSW per
            Videokamera überwacht. Mit Betreten des Raums erklären die Nutzerinnen und Nutzer ihre Zustimmung zur
            Aufzeichnung. Im Regelfall werden die Aufzeichnungen gelöscht und nicht an Dritte wei-ter gegeben. Im
            Falle eines Diebstahls behält sich das Institut für All-gemeine Pädagogik und Berufspädagogik die
            Prüfung der Aufzeich-nungen und im Einzelfall die Weitergabe an die Polizei vor.</p>

            <p>Das Institut für Allgemeine Pädagogik und Berufspädagogik behält sich ausdrücklich das Recht vor, im
            Rahmen der in der Benutzungsord-nung der TUD vorgesehenen Maßnahmen entsprechende Überprü-fungen
            durchzuführen. Verstöße gegen die Benutzungsordnung führen zum Ausschluss von der Zugangs- und
            Nutzungsberechtigung. Entzug ohne Gründe möglich.</p>


        </div>


        <div class="actions" layout="row">

            <md-button type="button" class="md-raised" ng-click="userCreateController.back()">zurück</md-button>
            <md-button class="md-accent md-raised" type="submit" ng-click="userCreateController.advance()">
                akzeptieren
            </md-button>
        </div>

    </div>
    <div ng-switch-when="2" class="create-state">
        <h2 style="margin-top: 0" class="md-display-2">
            Daten eingeben
        </h2>

        <form layout="column" name="userCreateController.editForm" class="md-inline-form medium-form">
            <md-input-container>
                <label>
                    Benutzername
                </label>
                <input type="text" name="loginName" ng-model="userCreateController.user.loginName" required>
                <div ng-messages="userCreateController.editForm.loginName.$error">
                    <div ng-message="required">
                        Bitte gib einen Benutzername ein
                    </div>
                </div>
            </md-input-container>
            <div layout="rows">
                <md-input-container flex="50">
                    <label>
                        Vorname
                    </label>
                    <input type="text" name="firstName" ng-model="userCreateController.user.firstName" required>
                    <div ng-messages="userCreateController.editForm.firstName.$error">
                        <div ng-message="required">
                            Bitte gib deinen Vorname ein
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Nachname
                    </label>
                    <input type="text" name="lastName" ng-model="userCreateController.user.lastName" required>
                    <div ng-messages="userCreateController.editForm.lastName.$error">
                        <div ng-message="required">
                            Bitte gib deinen Nachname ein
                        </div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <label>
                    Telefonnummer
                </label>
                <input type="tel" name="phoneNumber" ng-model="userCreateController.user.phoneNumber" required>
                <div ng-messages="userCreateController.editForm.phoneNumber.$error">
                    <div ng-message="required">
                        Bitte gib deine Telefonnummer ein
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>
                    E-Mail
                </label>
                <input type="email" name="email" ng-model="userCreateController.user.email" required>
                <div ng-messages="userCreateController.editForm.email.$error">
                    <div ng-message="required">
                        Bitte gib deine Emailadresse ein
                    </div>
                </div>
            </md-input-container>
            <div layout="rows">
                <md-input-container flex="50">
                    <label>
                        Passwort
                    </label>
                    <input ng-minlength="6" type="password" name="password" ng-model="userCreateController.password1"
                           required>
                    <div ng-messages="userCreateController.editForm.password.$error">
                        <div ng-message="minlength">
                            Das Passwort muss mindestens 6 Zeichen lang sein
                        </div>
                        <div ng-message="required">
                            Bitte gib ein Passwort ein
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Wiederholung
                    </label>
                    <input type="password" name="passwordRepeat" ng-model="userCreateController.password2"
                           validate="userCreateController.validatePasswordRepeat"
                           revalidate-on-change="userCreateController.password1"
                           required>
                    <div ng-messages="userCreateController.editForm.passwordRepeat.$error">
                        <div ng-message="passwordMatch">
                            Die Passwortwiederholung muss mit dem Passwort übereinstimmen
                        </div>
                        <div ng-message="required">
                            Bitte gib dein Passwort erneut ein
                        </div>
                    </div>
                </md-input-container>
            </div>
            <md-radio-group ng-model="userCreateController.user.gender" layout="row" required name="genderSelect">
                <md-radio-button value="MALE">Männlich</md-radio-button>
                <md-radio-button value="FEMALE">Weiblich</md-radio-button>
                <md-radio-button value="NONE">k.A.</md-radio-button>
            </md-radio-group>

            <div layout="rows">
                <md-input-container flex="50">
                    <label>Studiengang</label>
                    <md-select name="major" ng-model="userCreateController.user.major"
                               ng-required="userCreateController.user.role == 'STUDENT'">
                        <md-option ng-repeat="major in userCreateController.majors track by major.id" ng-value="major">
                            {{major.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="userCreateController.editForm.major.$error">
                        <div ng-message="required">
                            Bitte gib einen Studiengang an
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Matrikelnummer
                    </label>
                    <input type="text" name="studentId" ng-model="userCreateController.user.studentId"
                           ng-required="userCreateController.user.role == 'STUDENT'">
                    <div ng-messages="userCreateController.editForm.studentId.$error">
                        <div ng-message="required">
                            Bitte gib eine Matrikelnummer an
                        </div>
                    </div>
                </md-input-container>
            </div>
        </form>

        <div class="actions" layout="row">
            <md-button type="button" class="md-raised" ng-click="userCreateController.back()">zurück</md-button>
            <md-button ng-disabled="!userCreateController.editForm.$valid" class="md-accent md-raised" type="submit"
                       ng-click="userCreateController.save()">
                erstellen
            </md-button>
        </div>
    </div>
</div>
