<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">{{userModal.header}}</div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <form>
            <md-input-container>
                <label>
                    Benutzername
                </label>
                <input type="text" ng-model="userModal.user.loginName">
            </md-input-container>
            <md-input-container>
                <label>
                    Nachname
                </label>
                <input type="text" ng-model="userModal.user.lastName">
            </md-input-container>
            <md-input-container>
                <label>
                    Vorname
                </label>
                <input type="text" ng-model="userModal.user.firstName">
            </md-input-container>
            <md-radio-group ng-model="userModal.user.gender" layout="row">
                <md-radio-button value="MALE">Männlich</md-radio-button>
                <md-radio-button value="FEMALE">Weiblich</md-radio-button>
                <md-radio-button value="NONE">k.A.</md-radio-button>
            </md-radio-group>
            <md-input-container>
                <label>
                    Matrikelnummer
                </label>
                <input type="text" ng-model="userModal.user.studentId">
            </md-input-container>
            <md-input-container>
                <label>Studiengang</label>
                <md-select ng-model="userModal.user.major">
                    <md-option value="TEST1">test 1</md-option>
                    <md-option value="TEST2">test 2</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Rolle</label>
                <md-select ng-model="userModal.user.role">
                    <md-option ng-repeat="role in userModal.roles" ng-value="role">{{role.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>
                    E-Mail
                </label>
                <input type="email" ng-model="userModal.user.email">
            </md-input-container>
            <md-input-container>
                <label>
                    Passwort
                </label>
                <input type="password" ng-model="userModal.password1">
            </md-input-container>
            <md-input-container>
                <label>
                    Passwort wiederholen
                </label>
                <input type="password" ng-model="userModal.password2">
            </md-input-container>
        </form>
    </md-dialog-content>

    <div class="md-actions">
        <md-button type="button" ng-click="userModal.cancel()">abbrechen</md-button>
        <md-button type="submit" ng-click="userModal.submit()">erstelllen</md-button>
    </div>

</md-dialog>
