<div ng-switch="userCreateController.getState()" layout="row">


    <div ng-switch-when="0" class="create-state slide-out-left slide-in-left">

        <h2 class="md-display-2">
            Rolle auswählen
        </h2>

        <form name="userCreateController.roleForm" layout="column" class="md-inline-form medium-form">
            <md-input-container>
                <label>Rolle</label>
                <md-select name="role" ng-model="userCreateController.user.role" required>
                    <md-option value="STUDENT">Student</md-option>
                    <md-option value="LECTURER">Dozent</md-option>
                    <md-option value="CSW_TEAM">CSW-Team</md-option>
                    <md-option value="ADMIN">Admin</md-option>
                </md-select>
                <div ng-messages="userCreateController.roleForm.role.$error">
                    <div ng-message="required">
                        Bitte gib eine Rolle an
                    </div>
                </div>

            </md-input-container>
        </form>

        <div class="actions" layout="row">
            <md-button ng-disabled="!userCreateController.roleForm.$valid" class="md-accent md-raised" type="submit"
                       ng-click="userCreateController.advance()">
                weiter
            </md-button>
        </div>
    </div>

    <div ng-switch-when="1" class="create-state slide-in-right slide-out-right">
        <h2 class="md-display-2">
            Daten eingeben
        </h2>

        <form layout="column" name="userCreateController.editForm" class="md-inline-form medium-form">
            <md-input-container>
                <label>
                    Benutzername
                </label>
                <input type="text" name="loginName" ng-model="userCreateController.user.loginName" required>
            </md-input-container>
            <div layout="rows">
                <md-input-container flex="50">
                    <label>
                        Vorname
                    </label>
                    <input type="text" name="firstName" ng-model="userCreateController.user.firstName" required>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Nachname
                    </label>
                    <input type="text" name="lastName" ng-model="userCreateController.user.lastName" required>
                </md-input-container>
            </div>
            <md-input-container>
                <label>
                    Telefonnummer
                </label>
                <input type="tel" name="phoneNumber" ng-model="userCreateController.user.phoneNumber" required>
            </md-input-container>
            <md-input-container>
                <label>
                    E-Mail
                </label>
                <input type="email" name="email" ng-model="userCreateController.user.email" required>
            </md-input-container>
            <div ng-if="userCreateController.newUser" layout="rows">
                <md-input-container flex="50">
                    <label>
                        Passwort
                    </label>
                    <input ng-minlength="6" type="password" name="password" ng-model="userCreateController.password1" required>
                    <div ng-messages="userCreateController.editForm.password.$error">
                        <div ng-message="minlength">
                            Das Passwort muss mindestens 6 Zeichen lang sein
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Wiederholung
                    </label>
                    <input type="password" name="passwordRepeat" ng-model="userCreateController.password2"
                           validate="userCreateController.validatePasswordRepeat" revalidate-on-change="userCreateController.password1"
                           required>
                    <div ng-messages="userCreateController.editForm.passwordRepeat.$error">
                        <div ng-message="passwordMatch">
                            Die Passwortwiederholung muss mit dem Passwort übereinstimmen
                        </div>
                    </div>
                </md-input-container>
            </div>
            <md-radio-group ng-model="userCreateController.user.gender" layout="row">
                <md-radio-button value="MALE">Männlich</md-radio-button>
                <md-radio-button value="FEMALE">Weiblich</md-radio-button>
                <md-radio-button value="NONE">k.A.</md-radio-button>
            </md-radio-group>
            <div layout="rows">
                <md-input-container flex="50">
                    <label>Studiengang</label>
                    <md-select name="major" ng-model="userCreateController.user.major"
                               ng-required="userCreateController.user.role == 'STUDENT'">
                        <md-option ng-repeat="major in userCreateController.majors track by major.id" ng-value="major">
                            {{major.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="userCreateController.editForm.major.$error">
                        <div ng-message="required">
                            Bitte gib einen Studiengang an
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Matrikelnummer
                    </label>
                    <input type="text" name="studentId" ng-model="userCreateController.user.studentId"
                           ng-required="userCreateController.user.role == 'STUDENT'">
                    <div ng-messages="userCreateController.editForm.studentId.$error">
                        <div ng-message="required">
                            Bitte gib eine Matrikelnummer an
                        </div>
                    </div>
                </md-input-container>
            </div>
        </form>

        <div class="actions" layout="row">
            <md-button type="button" class="md-raised" ng-click="userCreateController.back()">zurück</md-button>
            <md-button ng-disabled="!userCreateController.editForm.$valid" class="md-accent md-raised" type="submit"
                       ng-click="userCreateController.save()">
                erstellen
            </md-button>
        </div>
    </div>
</div>
