<div ng-hide="userList.isCreatingUser">
    <div layout="row" style="margin-top: 0;">
        <span class="md-display-1 primary-color">Benutzerliste</span>
        <div flex></div>
        <div layout="row" layout-margin>
            <div layout="row" layout-align="center center">
                <md-checkbox ng-model="userList.showActive">Aktiv</md-checkbox>
            </div>
            <md-input-container>
                <label>
                    Suche
                </label>
                <input type="text" ng-model="userList.userFilter">
            </md-input-container>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-raised" ng-click="userList.createUser($event)">Benutzer anlegen</md-button>
        </div>
    </div>
    <table class="management-list" style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Rolle</th>
            <th>Benutzername</th>
            <th>Gültig bis</th>
            <th>Aktionen</th>
        </tr>
        <tr ng-repeat="user in userList.users | filter:userList.activeFilter | filter:{$:userList.userFilter}">
            <td>{{user.firstName + " " + user.lastName}}</td>
            <td>{{user.role}}</td>
            <td>{{user.loginName}}</td>
            <td>{{user.expirationDate | date}}</td>
            <td>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon>more_horiz</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="userList.showDetails($index, $event)">
                                <md-icon>info</md-icon>
                                Details
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="userList.editUser($index, $event)">
                                <md-icon>edit</md-icon>
                                Bearbeiten
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                <md-icon>vpn_key</md-icon>
                                Passwort zurücksetzen
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="user.expirationDate && userList.userExpiresThisSemester($index)">
                            <md-button ng-click="userList.extendValidTime($index, $event)">
                                <md-icon>update</md-icon>
                                Account verlängern
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="user.expirationDate && userList.userIsInactive($index)">
                            <md-button ng-click="userList.extendValidTime($index, $event)">
                                <md-icon>play_arrow</md-icon>
                                Account aktivieren
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="user.expirationDate && !userList.userIsInactive($index)">
                            <md-button class="md-warn" ng-click="userList.setInactive($index, $event)">
                                <md-icon>block</md-icon>
                                Account deaktivieren
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="userList.deleteUser($index, $event)" class="md-raised md-warn">
                                <md-icon>delete</md-icon>
                                Löschen
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
    </table>
</div>
