<div>
  <h2 class="md-display-2" style="color: {{primaryColor}}; margin-top: 0;">Benutzerliste</h2>
  <table style="width: 100%;">
    <tr class="md-body-2">
      <td>Name</td>
      <td>Rolle</td>
      <td>Benutzername</td>
      <td>Gültig bis</td>
      <td>Aktionen</td>
    </tr>
    <tr ng-repeat="user in userList.getUsers() track by $index">
      <td>{{user.firstName + " " + user.lastName}}</td>
      <td>{{user.role}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.expires | date}}</td>
      <td>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon>more_horiz</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button>
                <md-icon>edit</md-icon>
                Bearbeiten
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                <md-icon>vpn_key</md-icon>
                Passwort zurücksetzen
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button class="md-warn">
                <md-icon>delete</md-icon>
                Löschen
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
    </tr>
  </table>
</div>
