<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">Reservierung bearbeiten</div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content roomReservationModal">
        <form layout="column" name="editModal.editForm">
            <md-datepicker flex ng-model="editModal.beginningDate" md-placeholder="Datum" ng-disabled="editModal.extend"
            required>
                <!-- fehler für datum in der zukunft
                <div ng-message="required">
                    Bitte gib ein Datrum für die Reservierung an
                </div>
                -->
            </md-datepicker>
            <div layout="row" style="margin-top: 20px;">
                <md-input-container flex="50">
                    <label>
                        Startzeit
                    </label>
                    <input ng-model="editModal.beginningTime" ng-disabled="editModal.extend"
                           name="beginningTime" validate="editModal.validateTimeInput" required>
                    <div ng-message="editModal.editForm.beginningTime.$error">
                        <div ng-message="validTime">
                            Bitte gib eine mögliche Zeit an (Format hh:mm)
                        </div>
                        <div ng-message="required">
                            Bitte gib eine Startzeit an
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>
                        Endzeit
                    </label>
                    <input ng-model="editModal.endTime">
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
       <md-button type="button" ng-click="editModal.cancel()">abbrechen</md-button>
        <md-button class="md-accent" type="submit" ng-click="editModal.submit()">absenden</md-button>
    </md-dialog-actions>
</md-dialog>
