<!doctype html>
<html>

<head>
    <title>RMS terminal</title>

    <base href="/terminal">

    <meta charset="utf-8">

    <link href="terminal/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>
    <script src='node_modules/angular-resource/angular-resource.js'></script>
    <script src="terminal/twemoji.min.js"></script>
    <script src="terminal/app.js"></script>
</head>

<body ng-app="rms-terminal" class="md-body-1" layout="row">

<div style="visibility: hidden">
    <span><twemoji emoji="'🐵'"></twemoji></span>
    <span><twemoji emoji="'🙈'"></twemoji></span>
    <span><twemoji emoji="'➡️'"> ️</twemoji></span>
    <span><twemoji emoji="'🔓'"></twemoji></span>
    <span><twemoji emoji="'❌'"></twemoji></span>
</div>

<div class="fullscreen" ng-controller="LoginController as loginController">

    <div ng-if="loginController.roomReservation != undefined" class="fullscreen">
        <button class="big-button clickable" ng-click="loginController.openDoor()">
            <h2>{{loginController.roomReservation.title}}</h2>
            <img class="lock-image" src="terminal/lock.svg">
        </button>
    </div>

    <div ng-if="loginController.roomReservation == undefined">
        <div class="emoji-password">
            <div class="password-field">
                <div ng-switch="pin" class="password-bubble"
                     ng-repeat="pin in loginController.getPasswordShow() track by $index">
                    <span ng-switch-when="0"><twemoji emoji="'🐵'"></twemoji></span>
                    <span ng-switch-when="1"><twemoji emoji="'🙈'"></twemoji></span>
                    <span ng-switch-when="2"><twemoji emoji="'➡️'"> ️</twemoji></span>
                    <span ng-switch-when="3"><twemoji emoji="'🔓'"></twemoji></span>
                    <span ng-switch-when="4"><twemoji emoji="'❌'"></twemoji></span>
                </div>
                <div class="password-bubble clickable" ng-switch="loginController.getBackButtonStatus()"
                     ng-click="loginController.deletePin()">
                    <twemoji ng-switch-when="0" emoji="'🔙'"></twemoji>
                    <twemoji ng-switch-when="1" emoji="'🔓'"></twemoji>
                    <twemoji ng-switch-when="2" emoji="'❌'"></twemoji>
                </div>
            </div>
            <div class="flex-row" ng-repeat="row in loginController.getEmojis() track by $index">
                <button class="emoji-button clickable" ng-click="loginController.addKey(emoji)"
                        ng-repeat="emoji in row track by $index" twemoji>
                    <twemoji emoji="emoji"></twemoji>
                </button>
            </div>
        </div>
        <div class="qr-code"></div>
    </div>
    <button class="problem-button">Problem melden</button>
</div>

</body>

</html>
