
.fullscreen, div.problem-overlay {
    width: 1024px;
    height: 768px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */

    position: absolute;
    top: 0;
    left: 0;
}

div.problem-overlay {
    background-color: rgba(0, 0, 0, .7);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.problem-overlay button {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.right {
    right: 0px;
}

.bottom{
    bottom: 0px;
}

.full-width {
    width: 100%;
}

.problem-button{
    background-color: #ff999e;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 250px;
    border: 0;
    font-size: larger;
}

.emoji-password {
    margin-left: 50px;
    width: 700px;
    height: 700px;
}

.emoji-button {
    outline: none;
    border: 1px solid white;
    transition: linear border-color 0.2s;
    border-radius: 15px;
    background-color: white;
    height: 100px;
    font-size: xx-large;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.emoji-button:active {
    border: 1px solid darkgrey;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.password-bubble {
    font-size: xx-large;
    height: 37px;
    border: 0px solid #aeaeae;
    margin: 10px;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

.password-field {
    margin: 20px 20px 20px 20px;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid black;
}

.clickable {
    cursor: pointer;
    border: 1px solid white;
    transition: linear border-color 0.4s;
    transition: linear background-color 0.2s;
    border-radius: 15px;
}

.clickable:active {
    border: 1px solid darkgrey;
    background-color: darkgrey;
}

.room-open-button {
    width: 300px;
    height: 300px;
    background-color: white;
}

.lock-image {
    width: 300px;
    height: 300px;
}

.big-button {
    background-color: white;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}